@import './variables';
@import './media-queries';
.container {
    background: repeating-linear-gradient(to left, $color1, $color2, $color3);
    padding: 1% 15% 0% 15%;
    color: $text-color1;
    font-weight: bold;
    // @include tablet() {
    //     padding: $space-4 $space-4;
    // }
    // @include mobile() {
    //     padding: $space-2 $space;
    // }
}