$color1: #3709ac;
$color2: #2a097c;
$color3: #180646;

$text-color1: #bdbdbd;
$text-color2: #696969;

$space: 20px;
$space-025: $space * .25;
$space-05: $space * .5;
$space-2: $space * 2;
$space-4: $space * 4;
$space-6: $space * 6;

$container-width: 1280px;