// $color1: #3709ac;
// $color2: #2a097c;
$color3: #180646;
$color4: #e0e0ee;

$color1: #F8F8FF;
$color2: #bdbdbd;

$text-color1: #4B49AB;
$text-color2: #5300D1;

$space: 20px;
$space-025: $space * .25;
$space-05: $space * .5;
$space-2: $space * 2;
$space-4: $space * 4;
$space-6: $space * 6;

$container-width: 1280px;

$border-radius: 20px;